body{
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
}
p{
	font-family: 'Open Sans', sans-serif;
}
img{
	max-width: 100%;
}
.topbar{
	background-color: #000;
}
.topbar .nav-link{
	color:#fff;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.topbar .nav-link:hover{
	color: #ffeb3b;
}
.logo{
	padding: 50px 0;
	text-align: center;
}
.menu{
	border-top: 1px solid;
	border-bottom: 1px solid;
	font-family: sans-serif;
}
.menu .nav-link{
	color:#000;
	font-size: 16px;
	font-weight:700;
	text-transform: uppercase;
	padding: 15px 15px;
}	
.dropdown-menu{
	background-color: #000;
	padding: 5px 15px 25px;
}
.dropdown-item{
	color: #fff;
	padding: 10px 5px;
	border-bottom: 1px solid #fff;
	text-transform: uppercase;
	font-size: 14px;
}
.dropdown-item:focus,.dropdown-item:hover{
	background-color: transparent;
	color: #ffff00;
	border-color: #ffff00;
}

/* Slider Style */
.slider-wrap{
	padding: 40px 0;
}
.main-slider-item{
	position: relative;
}
.main-slider-item-caption{
	position: absolute;
	bottom: 0;
	padding: 25px;
	text-align: center;
}
.main-slider-item-caption a:hover:before{
	position: absolute;
	top: 0;
	left:0;
	content:'';
	width:100%;
	height:100%;
	background-color: #ffeb3b60;
}
.badge-light{
	background-color: #ffeb3b;
	font-size: 12px;
	font-family: 'Open Sans',sans-serif;
	text-transform: uppercase;
	padding-top: 5px;
}
.main-slider-item-caption h4{
	color:#fff;
	font-size: 24px;
	padding: 15px 0;
}
.main-slider-item-caption .colorwhite{
	color:#fff;
	margin-right: 15px;
}
.slick-arrow{
	position: absolute;
	font-size: 48px;
	top: 40%;
	z-index: 99;
	padding: 15px;
	color:#fff;
	background-color: #00000080;
	-webkit-transition:300ms;
	opacity: 0;
	cursor: pointer;
}
.main-slider:hover .fa-angle-left.slick-arrow{
	left: 0;
	opacity: 1;
}
.main-slider:hover .fa-angle-right.slick-arrow{
	right: 0;
	opacity: 1;
}
.fa-angle-left.slick-arrow{
	left:5%;
}
.fa-angle-right.slick-arrow{
	right:5%;
}

/* Article Style */
.article-wrap{
	padding: 40px 0;
	text-align: center;
}
.article-heading{
	text-align: center;
	padding-bottom: 60px;
}
.article-heading h1{
	padding: 0 25px;
	display: inline-block;
	background-color: #fff;
	letter-spacing: 5px;
	text-transform: uppercase;
}
.article-heading hr{
	margin-top: -30px;
	border: none;
	height: 1px;
	background-color: #000;
}
.article-wrap h4{
	font-size: 18px;
	padding: 10px 0;
	text-transform: uppercase;
}
.article-wrap p{
	font-size: 16px;
	padding: 15px 0 0;
}
.colorblack{
	color: #000;
	margin: 0 15px;
	font-family: sans-serif;
	font-weight: 750;
	font-size: 12px;
}
.article-wrap .btn-dark{
	border-radius: 0;
	margin-top: 25px;
	text-transform: uppercase;
}
/* Article Wrap Two Style */
.article-wrap-two{
	text-align: left;
}
.article-wrap-two .colorblack{
	margin: 0 15px 0 0;
}
/* Footer Style */
.footer{
	padding: 60px 0 0 ;
	margin-top: 60px;
	background-color: #000;
	text-align: center;
}
.footer .footer-title{
	font-size: 18px;
	text-transform: uppercase;
	color: #ffeb3b;
	margin-bottom: 25px;
}
.footer h4{
	text-align: left;
	font-size: 16px;
	color: #ffffffb8;
	text-transform: uppercase;
}
.footer .colorblack{
	color: #ffffffb8;
	margin: 0 5px 0 0;
}
.footer .post-meta{
	margin-top: 15px;
}
.footer .footer-link a{
	font-family: 'Open Sans',sans-serif;
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid #ffffff50;
	border-radius: 4px;
	margin: 5px 10px 5px 0;
	color: #fff;
	text-decoration: none;
}
.footer .footer-link a:hover{
	background-color: #ffeb3b;
	color: #000;
}
.footer .copyright{
	padding: 70px 0 5px;
	color: #ffffff90;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	font-size: 12px;
}

/* Responsive Style */
@media (max-width:576px){
	.topbar .nav .col-6{
		max-width: 100%;
		flex-basis: 100%;
		justify-content: center!important;
		padding: 0;
	}
	.logo{
		padding: 20px 0;
	}
	.menu .nav-link{
		font-size: 12px;
		padding: 5px 10px 5px;
	}
	.dropdown-item{
		font-size: 12px;
		padding: 5px;
	}
	.dropdown-menu{
		padding: 5px 10px 15px;
	}
	.main-slider-item-caption{
		padding: 15px;
	}
	.main-slider-item-caption{
		font-size: 14px;
		padding: 10px 0 0;
	}
	.badge-light{
		font-size: 10px;
		padding-top: 2px;
	}
	.main-slider-item-caption .colorwhite{
		font-size: 10px;
		margin-right: 2px;
	}
	.article-wrap{
		padding: 0 0 40px;
	}
	.article-wrap .col{
		flex-basis: 100%;
		margin-bottom: 25px;
	}
	.article-heading{
		padding-bottom: 40px;
	}
	.article-wrap .col-3{
		max-width: 50%;
		flex-basis: 50%;
		margin-bottom: 20px;
	}
	.article-wrap h4{
		font-size: 14px;
	}
	.article-wrap .mt-5{
		margin-top: 0 !important;
	}
	.footer{
		margin-top: 0;
	}
	.footer .col{
		flex-basis: 100%;
		margin-bottom: 20px;
	}
	.footer .post-meta{
		text-align: left;
	}
	.footer .copyright{
		padding-top: 20px;
	}
}